.back-button {
	position: absolute;
	top: 25px;
	left: 25px;
	border: none;
	background: none;

	a {
		padding: 1em 1.2em;
		font-size: 2rem;
		border-radius: 50%;
		color: black;
		background-color: white;
		cursor: pointer;
	}
}

.elements {
	&__list {
		list-style: none;
	}

	&__link {
		text-decoration: none;
		color: white;
		font-size: 3rem;
		padding: 1em;
		margin: 1em;
		border-radius: 25px;
		background-color: purple;
	}
}

.hidden {
	display: none;
}
