*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body,
input,
button {
	font-family: "Source Sans Pro", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.6rem;
	background-color: #7cffcb;
	background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}
